@import 'variables/colors';

.signup-form {
  background-color: $wild-sand;
  border-top: 8px solid $cerulean;
  min-height: 634px;
  margin-top: 51px;
  text-align: left;
  width: 300px;

  .logo {
    height: 70px;
    margin: 28px 42.5px 0 45px;
    width: 212px;
  }

  .custom-label {
    align-self: flex-start;
    color: $black;
    font-size: 16px;
    line-height: 24px;
  }

  .custom-button {
    border-radius: 5px;
    font-size: 16px;
    height: 32px;

    &:disabled {
      background-color: $silver;
      border: 1px solid $dusty-gray;
      color: $dove-gray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .signup-button-container {
    margin: 24px 24px 0;

    &::after {
      content: '';
      background-color: $silver-chalice;
      display: block;
      height: 2px;
      margin-top: 16px;
    }
  }

  .signup-button {
    background-color: $earls-green;
    color: $white;
  }

  .login-button {
    background-color: $white;
    border: 1px solid $earls-green;
    color: $earls-green;
    margin: 16px 24px 24px;
  }

  .loading {
    margin-top: 16px;
  }
}
